<a href="https://colab.research.google.com/github/Thonyta17/Midterm-Project-The-Replication-Study/blob/main/notebooks/01_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [25]:
#import raw data
LOCAL_FILE = "public.dat"

DATA_URL = "https://raw.githubusercontent.com/Thonyta17/Midterm-Project-The-Replication-Study/refs/heads/main/data/raw/public.dat"

if DATA_URL:
  df = pd.read_fwf(DATA_URL)
else:
  df = pd.read_fwf(LOCAL_FILE)

df

,46,1,0,0.1,0.2,0.3,0.4,1.1,0.5,0.6,...,0.08,1.6,2.1,6.50.1,16.50.1,1.03.2,..3,0.94,4,4.1
0,49,2,0,0,0,0,0,1,0,0,...,0.05,0,2,10.00,13.00,1.01,0.89,2.35,4,4
1,506,2,1,0,0,0,0,1,0,0,...,0.25,.,1,11.00,11.00,0.95,0.74,2.33,4,3
2,56,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,0.92,0.79,0.87,2,2
3,61,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,1.01,0.84,0.95,2,2
4,62,4,1,0,0,0,0,1,0,0,...,.,0,2,10.00,12.00,.,0.84,1.79,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,423,2,1,1,0,0,1,0,0,0,...,0.50,0,1,11.00,11.00,1.05,0.84,2.32,3,2
405,424,2,1,1,0,0,1,0,0,0,...,0.50,0,1,11.00,14.00,1.05,0.94,2.32,5,3
406,426,3,1,1,0,0,1,0,0,0,...,0.25,1,2,6.00,18.00,1.11,1.05,1.05,6,5
407,427,4,0,1,0,0,1,0,0,0,...,.,1,2,10.50,12.50,1.11,1.09,2.07,2,2
408,428,4,0,1,0,0,1,0,0,0,...,0.10,0,2,10.50,12.50,1.05,0.89,2.11,2,2

**Code Book for New Jersey-Pennsylvania Data Set**

Note: there are 410 observations in the data set

In [24]:
# raw data has no column
# assign columns from codebook

col_specs = [(0,3), (4,5), (6,7),(8,9), (10,11), (12,13), (14,15),(16,17),(18,19),
             (20,21),(22,24),(25,30),(31,36),(37,42),(43,48),(49,54),(55,60),(61,62),
             (63,68),(69,70),(71,76),(77,82),(83,88),(89,94),(95,100),(101,103),(104,106),
             (107,108),(109,110),(111,117),(118,120),(121,126),(127,132),(133,138),
             (139,144),(145,150),(151,156),(157,158),(159,160),(161,166),(167,172),
              (173,178),(179,184),(185,190),(191,193),(194,196)
            ]
col = ['Store ID', 'Chain', 'Co-owned', 'State', 'South NJ', 'Central NJ', 'North NJ',
            'Phil. suburb', 'Easton','NJ Shore','Num. Callbacks','FT Empl.','PT Empl.',
            'Num. Mgrs','Starting Wage','Months to Raise','Raise increase ($/hr)','Bonus',
            '% affected by Min Wage','Free/Reduced meals','Opening Hour','Operating hours',
            'P_Soda','P_Fry','P_Entree','Num. Registers','Num. Registers at 11am',
            'Type 2nd Interview','Status 2nd Interview', 'Date 2nd Interview','Num. Callbacks_2',
            'FT Empl._2','PT Empl._2','Num. Mgrs_2','Starting Wage_2','Months to Raise_2',
            'Raise increase ($/hr)_2','Special Program_2','Free/Reduced meals_2',
            'Opening Hour_2','Operating hours_2','P_Soda_2','P_Fry_2','P_Entree_2',
            'Num. Registers_2','Num. Registers at 11am_2'
        ]

#Import file again with columns

if DATA_URL:
  df = pd.read_fwf(DATA_URL,
                   colspecs=col_specs, names=col)
else:
  df = pd.read_fwf(LOCAL_FILE,
                   colspecs=col_specs, names=col)

#Ensure df include all 410 rows and 26 columns
print(f'Rows: {len(df)}')
print(f'Columns: {len(df.columns)}')

df.head()

Rows: 410
Columns: 46

,Store ID,Chain,Co-owned,State,South NJ,Central NJ,North NJ,Phil. suburb,Easton,NJ Shore,...,Raise increase ($/hr)_2,Special Program_2,Free/Reduced meals_2,Opening Hour_2,Operating hours_2,P_Soda_2,P_Fry_2,P_Entree_2,Num. Registers_2,Num. Registers at 11am_2
0,46,1,0,0,0,0,0,1,0,0,...,0.08,1,2,6.50,16.50,1.03,.,0.94,4,4
1,49,2,0,0,0,0,0,1,0,0,...,0.05,0,2,10.00,13.00,1.01,0.89,2.35,4,4
2,506,2,1,0,0,0,0,1,0,0,...,0.25,.,1,11.00,11.00,0.95,0.74,2.33,4,3
3,56,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,0.92,0.79,0.87,2,2
4,61,4,1,0,0,0,0,1,0,0,...,0.15,0,2,10.00,12.00,1.01,0.84,0.95,2,2

Codes:

Free/reduced Meal Variable:
0 = none
1 = free meals
2 = reduced price meals
3 = both free and reduced price meals


Second Interview Status
0 = refused second interview (count = 1)
1 = answered 2nd interview (count = 399)
2 = closed for renovations (count = 2)
3 = closed "permanently" (count = 6)
4 = closed for highway construction (count = 1)
5 = closed due to Mall fire (count = 1)


*Note: number of call-backs = 0 if contacted on first call